<html>
  <body>
    <h1 id="h1Search">Search for Books</h1>
    <form action="/searches" method="post">
      <label for="search"></label>
      <input class="in" type="text" for="search" placeholder="Book title/author">
      <label>Title</label>
      <input class="radio" type="radio" id="title" value="intitle">
      <label>Author</label>
      <input class="radio" type="radio" id="author" value="inauthor">
      <input class="in" id="submit" type="submit">
    </form>
  </body>
</html>