nav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

section {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
    padding: 20px;
    background-color: lightgray;
    width: 400px;
    /* height: 500px; */
    margin: 20px;
}

h1{
    color: white;
    background-color: rgb(85, 82, 82);
    padding: 14px;
}

form {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#buttons{
    display: flex;
    justify-content: space-between;
}
